body {
    background-image: url(https://wallpaperchat.com/walls/full/f/d/d/976539.jpg);
    height: 250px;
    width: 85%;
  }

form {
    text-align: center;
    color: rgb(158 25 25);
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(158 25 25);
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: rgb(158 25 25);
    font-size: 20px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: rgb(158 25 25);
    color: white;
    font-family: 'Roboto', sans-serif;
}

